.box {
  background-color: lightblue; /* content 영역 색 */
  padding: 20px;              /* 안쪽 여백 */
  border: 5px solid blue;     /* 테두리 */
  margin: 30px;               /* 바깥 여백 */
  width: 200px;               /* 박스 너비 */
 margin-bottom: 50px;
}

.box {
  padding: 20px;
  border: 3px solid black;
  width: 200px;
}

.one {
  background-color: lightcoral;
  margin-bottom: 50px; /* 아래로 공간 50px */
}

.two {
  background-color: lightgreen;
}